/*seccion incial*/
*{
    box-sizing: border-box;
    margin: 0; /*incializa margenes*/
    padding: 0; /*inicializa padding*/
}
html {
    max-height: 100%;/*se adapte altura pag web cual dispositivo*/
}
body{
    font-family:Tahoma;
    font-size: 10px;
}
/*seccion cabecera PC*/
#hearder{
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    flex-direction: row;/*direccion horizontal o en fila*/
    justify-content: center;/* añinea horizontalmente*/
    align-items: center; /* alinea verticamente*/
    grid-area: header;/*asigna nombre el contenedor*/
}
/* seccion menu */
ul{
    padding: 0 0;
    margin: 0 1px auto;
}
li{
    display: inline;
    list-style: none;/*quitar las viñetas*/
    margin: 0 5px auto;
    font: bold 12px verdana;
}
a{
    color: white;
    text-decoration: none; /* quitar las lineas subrayadas*/
}
#menu{
    grid-area: nav;/* asigna nombre a contenedor*/
    background-color: brown;
    border: 2px solid green;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
/* nuevo estilo para buscador */
.buscador input{
    height: 25px;
    width: 0px;
    padding-right: 50px;
    transition: 0.0s; ease;
}
/* seaplica una pseudoclase hover paraexpandir ancho de buscador*/
.buscador input:hover{
    width: 150px;
    padding-left: 10px;
    outline: none; /*quitar bordes*/
    }
/* seccion contenido */
#main{
    grid-area: main;/* martrucula nombre contenedor section para grid*/
    background-color: aqua;
    border: 2px solid green;
    /* se define ancho altura contendeor para ajustar a vista a dispositivos actual*/
    max-width: 100px;
    height: auto;
}
figure,figcaption{
    display: inline;
    margin: 45px;
    padding: 5px 5px;
}
.programa{
    display: inline-block;
    margin: 5px 5px;
    
}